<h1>Blog Log</h1>
<hr>
<p id = "newart">
  | <%= link_to 'Write a Blog', new_article_path, class: "btn btn-md btn-primary" %> |
</p>
<p> </p>
<p> </p>

<hr>
<div class = "row">
<div class="container col-sm-2" id = "lsbar">
  <ul class="nav nav-stacked nav-pills">
    <li class="active"><a href="#">Notes</a></li>
    <li><a href="#">Images</a></li>
    <li><a href="#">Book marks</a></li>
  </ul>  
</div>

<div class = "col-sm">
<div class="verticalLine col-md-offset-2">
<% if flash[:blogdel] %>
  <div class="alert alert-danger">
  	<a href="#" class="close" data-dismiss="alert">&times;</a>
  	<%= flash[:blogdel] %>
  </div>
<% end %>

<div id = "timeline">
<% @articles.reverse.each do |article| %>
	<ul>
	<div><h2 style = "pull-left"><%= article.author %></h2><p></p><%= article.created_at.to_s.slice(0..19) %></div>
	<%= article.title %>
	<%= article.text %>
	
		<div class="btn-group pull-right">
      <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
      ... </button>
      <ul class="dropdown-menu" role="menu">
				<li><%= link_to 'Show', article_path(article) %></li>
				<li><%= link_to 'Edit', edit_article_path(article) %></li>
				<li><%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: 'Are you sure?' }%></li>					      	
      </ul>
    </div>
	</ul>
<% end %>

</div>
</div>
<p style = "center">→</p>
<hr>
<p id = "newart">
  | <%= link_to 'Write a Blog', new_article_path, class: "btn btn-md btn-primary" %> |
</p>
<p id = "newart">
  | <%= link_to 'Back', class: "btn btn-md btn-primary" , controller: 'articles' %> |
</p>
<p class="pull-right"><a href="#">↑Back to top</a></p>
</div>

</div>