<hr>
<h2><strong style="color:lightseagreen">Blog</strong></h2>
<p>
	<strong style="color:orangered">Author:</strong>
	<%= @article.author %>
</p>

<p>
  <strong style="color:orangered">Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong style="color:orangered">Text:</strong>
  <%= @article.text %>
</p>
<hr>
<h2><strong style="color:lightseagreen">Comments</strong></h2>
<% if @article.comments.blank? %>
	<p>No comments yet</p>
<% else %>
 <%= render @article.comments %>
<%end%>

<hr>
<h2><strong style="color:lightseagreen">Add a comment</strong></h2>
<%= render 'comments/form' %>

<hr>
<p id = "editback">
  | <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-md btn-primary" %> |
  <%= link_to 'Back', articles_path, class: "btn btn-md btn-primary" %> |
</p>
