<div class="col-md">
<hr>
<h2><strong style="color:lightseagreen">Blog</strong></h2>
<% if flash[:bloginfo] %>
  <div class="alert alert-success fade in">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
   	<strong>Success!</strong> <%= flash[:bloginfo] %>
  </div>	
<% end %>
<p>
	<strong style="color:orangered">Author:</strong>
	<%= @article.author %>
</p>

<p>
  <strong style="color:orangered">Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong style="color:orangered">Text:</strong>
  <%= @article.text %>
</p>

<hr>
<h2><strong style="color:lightseagreen">Comments</strong></h2>
<% if flash[:cominfo] %>
  <div class="alert alert-success fade in">
    <a href="#" class="close" data-dismiss="alert">×</a>
   	<strong>Success!</strong> <%= flash[:cominfo] %>
  </div>	
<% end %>

<% if @article.comments.blank? %>
	<p>No comments yet</p>
<% else %>
 <%= render @article.comments %>

<%end%>

<hr>
<div class="col-md-6 col-md-offset-3">
<h2><strong style="color:lightseagreen">Add a comment</strong></h2>
<%= render 'comments/form' %>

<hr>
<p id = "editback">
  | <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-md btn-primary" %> |
  <%= link_to 'Back', articles_path, class: "btn btn-md btn-primary" %> |
</p>
</div>
</div>